.character-container{
    background: radial-gradient(#0053ad 40px,#001b85 90px,#000223);

    border-width: 2px;
    border-style:solid;
    display: block;
}

.character-name{
    border-width: 1px;
    border-style:solid;
    display: block;
}

.char-icon {
    min-width:8rem;
}

.stats {
    float: right;
}
