.stats-container{
    border-width: 1px;
    border-style:solid;
    
    flex-wrap: wrap;
    align-items:center;
    display:grid;

}

.stat {
    margin:0.5rem;
}

.stat-icon {
    display:inline-block;
    max-width:2rem;
    flex-grow: 0;
    margin-right:1rem;
}

