.stats-container{
    background-color: black;
    border-width: 2px;
    border-style:dotted;
    display: flex;
    flex-basis: 0;
    flex-wrap: wrap;
}

.stat {
   display:inline-block;
   flex-grow: 1;
   flex-wrap: wrap;
   margin:2rem;
}

.stat-icon {
    display:inline-block;
    max-width:2rem;
    flex-grow: 0;
    margin-right:1rem;
}

