.items-container{
    background-color: black;
    border-width: 2px;
    border-style:dotted;
    
}

.item {
   display:grid;
   gap:1rem;
   grid-template-columns: repeat(auto-fill, minmax(5rem,1fr));

}

.item-icon {
    max-width:2rem;
}

